{% extends "base.html" %}
{% load static %}

{% block title %}
	{{ category.title|title }} | bouquet of flowers
{% endblock title %}
{% block header %}
    <div id="headerwrap" style="min-height: 350px">
            <div class="container">
                <div class="row">

                </div><! --/row -->
            </div> <!-- /container -->
        </div><! --/headerwrap -->
{% endblock %}
{% block content %}
    <ul class="nav nav-pills nav-justified">
        {% for link in links_menu %}
            {% include "mainapp/snippets/categories_menu_snippet.html" %}
        {% endfor %}
	</ul>
    <section id="works"></section>
	<div class="container">
		<div class="row centered mb">
			<h1>{{ category.title }}</h1>
			{% for product in category.products.all %}
				{% include 'mainapp/snippets/products_snippet.html' %}
			{% endfor %}
		</div>
	</div>
{% endblock content %}
	
	