{% extends "base.html" %}
{% load static %}

{% block title %}
	bouquet of flowers | дарите с удовольствием
{% endblock title %}

{% block content %}

	<ul class="nav nav-pills nav-justified">
        {% for link in links_menu %}
            {% include "mainapp/snippets/categories_menu_snippet.html" %}
        {% endfor %}
	</ul>
	<section id="works"></section>
	<div class="container">
		<div class="row centered mt mb">
			<h1>Букеты</h1>
			{% for product in products_all %}
                {% include "mainapp/snippets/products_snippet.html" %}
			{% endfor %}
		</div>
	</div>
{% endblock content %}
	
	

