{% extends "base.html" %}
{% load static %}

{% block title %}
    Ваш заказ | Цветы
{% endblock %}

{% block header %}
    <div id="headerwrap" style="min-height: 15px">
    </div><! --/headerwrap -->
{% endblock %}

{% block content %}
    <div class="container mb mt">
    <h1> Ваш заказ: </h1>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Изображение</th>
              <th scope="col">Навание</th>
              <th scope="col">Количество</th>
              <th scope="col">Цена</th>
            </tr>
          </thead>
          <tbody>
          {% for item in cart %}
              {% with product=item.product %}
                <tr>
                  <th scope="row">
                      {{ forloop.counter }}
                   </th>
                  <td><a href="{{ product.get_absolute_url }}">
                      <img style="width: 40px" src="
                          {% if product.pictures.all.0.image %}
                            {{ product.pictures.all.0.image.url }}
                          {% else %}
                            {% static "img/bucket2.jpg" %}
                          {% endif %}"
                           alt="{{ product.title }}">
                      </a>
                  </td>
                  <td>{{ product.title }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.total_price }}р</td>
                </tr>
              {% endwith %}
          {% endfor %}
          <tr class="total">
              <td colspan="3"></td>
              <td>Итого:</td>
              <td class="num">{{ cart.get_total_price }}р</td>
          </tr>
          </tbody>
        </table>
        <form action="." method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %}
            <p><input type="submit" value="Отправить заказ" class="btn btn-primary"></p>
        </form>
    </div>
{% endblock %}