{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <title>
    {% block title %}
    	bouquet of flowers
    {% endblock title %}
    </title>
    {% block css %}
		<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<!-- Custom styles for this template -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <link href="{% static "css/style.css" %}" rel="stylesheet">
    {% endblock css %}
	<!-- Bootstrap core CSS -->
  </head>
  <body>
  	{% block navbar %}
  		<!-- Static navbar -->
          {% include "snippets/menu_snippet.html" %}
  	{% endblock navbar %}

    {% block header %}
        <div id="headerwrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>Bouquet of flowers</h1>
                        <h4>дарите с удовольствием</h4>
                    </div>
                </div><! --/row -->
            </div> <!-- /container -->
        </div><! --/headerwrap -->
    {% endblock header %}

	{% block content %}
		
	{% endblock content %}

	{% block chose_us %}
		<div id="why">
			<div id="w">
			<div id="about">
			    <div class="container" style="">
					<div class="row">
				<div class="row centered mt mb">
					<h1>Почему Вам стоит выбрать именно нас?</h1>
					
					<div class="col-lg-4 col-md-4 col-sm-4 gallery principles">
						<img src="{% static "/img/icons/Nature_&_outdoors_05.svg" %}" class="img-responsive">
                        <h4>Бесплатная доставка в пределах МКАД 24 часа в сутки</h4>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 gallery principles">
						<img src="{% static "/img/icons/Nature_&_outdoors_02.svg" %}" class="img-responsive">
						<h4>Только свежие цветы</h4>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 gallery principles">
						<img src="{% static "/img/icons/Nature_&_outdoors_03.svg" %}"
                             class="img-responsive"><h4>Доступные цены</h4>
					</div>
				</div>
					</div><! --/row -->
			    </div> <!-- /container -->
			    </div>
			</div><! --/why -->
		</div>
	{% endblock chose_us %}

    {% block about_us %}
		<div class="container" id="about">
			<div class="row centered mt mb">
				<h1>О нас</h1></br>
                <p>
                    <strong>Bouquet of flowers</strong> - современный интернет-магазин, который поможет Вам быстро приобрести роскошные живые
                    цветы с доставкой по указанному адресу.
                <br>
                <br>
                Цветы - запоминающийся, очень приятный и романтичный подарок, который подарит  незабываемые эмоции Вашим
                    близким людям.
                    <br>
                    <br>
                Мы гарантируем качество каждой композиции, каждый букет создаётся из свежих растений профессиональными
                    флористами!
                    <br>
                    <br>
                Будем рады Вашим заказам!
                </p>
            </div>
		</div>
    {%  endblock about_us %}
    {%  block reviews %}
        {% include "snippets/reviews.html" %}
    {% endblock reviews %}

	{% block contacts %}
		<div class="container" id="contacts">
			<div class="row centered mb">
                <div id="social">
                <div class="container">
                    <div class="row centered">
                        <h1>Контакты</h1>
                        <br>
                        <div> <span>Наш телефон:</span> +7 (905) 543-31-77
                        <div>
                            <span>Whatsapp:</span>  <a href="https://api.whatsapp.com/send?phone=79055433177" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        </div>
                        <div>
                            <span>Еще больше букетов в Instagram:</span>
                           <a href="https://www.instagram.com/bouquet.of_flowers/" target="_blank"><i class="fa fa-instagram"></i></a>
                        </div>
                        </div>

                    </div><! --/row -->
                </div><! --/container -->

                <div class="row mt">
                    <h1>Мы вам позвоним!</h1>
                    <div class="col-lg-4 col-lg-offset-4">
                        <form action="{% url 'thanks' %}" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                {{ field.label }}
                                {{ field }}
                            {% endfor %}
                            <input type="submit" value="Мы вам позвоним!" class="btn btn-success">
                        </form>
                    </div>
                </div>
            </div>
            </div>
		</div>
	{% endblock contacts %}

    {% block socials %}

	{% endblock socials %}

	{% block footer %}
		<div id="footerwrap">
			<div class="container">
				<div class="row centered">
					<div class="col-lg-4">
						<p> <a href="https://www.instagram.com/bouquet.of_flowers/"
                               target="_blank"><i class="fa fa-instagram" style="color: white"></i></a></p>
					</div>
				
					<div class="col-lg-4">
						<p>Цветы для вас.</p>
					</div>
					<div class="col-lg-4">
						<p>+7 (905) 543-31-77</p>
					</div>
				</div>
			</div>
		</div><! --/footerwrap -->
	{% endblock footer %}

    <div class="hidden-xs" style="padding-bottom: 5px; padding-right: 5px; position: fixed; bottom: 0px; right: 0px;">
        <a href="https://www.instagram.com/bouquet.of_flowers/?igshid=1kjrynlo3u2y0" target="_blank">
            <img style="max-width: 50px" src="https://instagram-brand.com/wp-content/uploads/2016/11/Instagram_AppIcon_Aug2017.png?w=300"
             alt="Наш инстаграм">
        </a>
    </div>
    <div class="hidden-xs" style="padding-bottom: 5px; padding-right: 5px; position: fixed; bottom: 50px; right: 4px;">
        	<a href="https://api.whatsapp.com/send?phone=79055433177" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true" style="font-size:48px;color:green"></i></a>

    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js"%}"></script>

  </body>
</html>
