{% extends "base.html" %}
{% load static %}

{% block title %}
Ваша корзина|Цветы
{% endblock title %}

{% block header %}
    <div id="headerwrap" style="min-height: 30px">
            <div class="container">
                <div class="row">

                </div><! --/row -->
            </div> <!-- /container -->
        </div><! --/headerwrap -->
{% endblock %}
{% block content %}
    <section id="works"></section>
	<div class="container mb mt">
        <h1> Ваша корзина: </h1>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Изображение</th>
              <th scope="col">Навание</th>
              <th scope="col">Количество</th>
              <th scope="col">Цена шт.</th>
              <th scope="col">Цена</th>
              <th scope="col">Удалить</th>
            </tr>
          </thead>
          <tbody>
          {% for item in cart %}
              {% with product=item.product %}
                <tr>
                  <th scope="row">
                      {{ forloop.counter }}
                   </th>
                  <td><a href="{{ product.get_absolute_url }}">
                      <img style="width: 40px" src="
                          {% if product.pictures.all.0.image %}
                            {{ product.pictures.all.0.image.url }}
                          {% else %}
                            {% static "img/bucket2.jpg" %}
                          {% endif %}"
                           alt="{{ product.title }}">
                      </a>
                  </td>
                  <td>{{ product.title }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.price }}р</td>
                  <td>{{ item.total_price }}р</td>
                  <td><a href="{% url "basket:cart_remove" product.id %}">Удалить</a></td>
                </tr>
              {% endwith %}
          {% endfor %}
          <tr class="total">
            <td>Итого:</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }}р</td>
          </tr>
          </tbody>
        </table>
        <p class="">
            <a href="{% url "index_list" %}" class="btn btn-primary">Вернуться к на главную</a>
            <a href="{% url "order:order_create" %}" class="btn btn-danger">Оформить</a>
        </p>
    </div>
{% endblock content %}

